# 前端默认使用 Sepolia
NEXT_PUBLIC_DEFAULT_NETWORK=sepolia

# 可选：RPC 节点地址。Infura 项目 ID 替换为你自己的。
# 从Infura、Alchemy等服务获取
# Infura格式: https://sepolia.infura.io/v3/YOUR-PROJECT-ID
# Alchemy格式: https://eth-sepolia.g.alchemy.com/v2/YOUR-API-KEY
NEXT_PUBLIC_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/xxxxxxxx

# 这里填部署脚本输出的 Proxy Address
NEXT_PUBLIC_CONTRACT_ADDRESS_SEPOLIA=0x25ccc5F543fE44F76BC3cFb0B5F8A9cA4fd0c2EA

